# Build outputs
dist
build
lib
coverage
.coverage

# Dependencies
node_modules
functions/node_modules

# Lock files
package-lock.json
functions/package-lock.json

# Logs
*.log

# Generated
.vite
.vite-temp

# Configuration
.eslintrc.cjs
